<a href="https://colab.research.google.com/github/VivekMuraleedharanGit/Spam-Classifier/blob/main/spam_message_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [36]:
data= pd.read_csv('/content/drive/MyDrive/Data Science /Data Science notebooks/SMSSpamCollection',sep='\t',header=None,names=['Label','SMS'])
data.head()

  Label                                                SMS
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [ ]:
data.shape

(5572, 2)

In [ ]:
data.Label.value_counts(normalize=True)

ham     0.865937
spam    0.134063
Name: Label, dtype: float64

In [37]:
data['SMS']

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: SMS, Length: 5572, dtype: object

In [38]:
x = data['SMS']
y = data['Label']

In [20]:
x.head()

0    go until jurong point  crazy   available only ...
1                        ok lar    joking wif u oni
2    free entry in 2 a wkly comp to win fa cup fina...
3    u dun say so early hor    u c already then say
4    nah i don t think he goes to usf  he lives aro...
Name: SMS, dtype: object

In [42]:

#splitting the data set into train test split

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=1)

x_train.shape,x_test.shape,y_train.shape

((3900,), (1672,), (3900,))

In [43]:
x_train[4060]

'Moby Pub Quiz.Win a £100 High Street prize if u know who the new Duchess of Cornwall will be? Txt her first name to 82277.unsub STOP £1.50 008704050406 SP'

In [46]:
#cleaning the dataset and converting into tf-idf format

from sklearn.feature_extraction.text import TfidfVectorizer

tf= TfidfVectorizer(lowercase=True,ngram_range=(1,2),
                    stop_words = 'english',max_df = 0.5,min_df =2,use_idf =True)

tf_matrix_train = tf.fit_transform(x_train)
tf_matrix_train = tf_matrix_train.toarray()

vocab = tf.get_feature_names()
vocab[1:10]

['00 sub',
 '000',
 '000 bonus',
 '000 cash',
 '000 homeowners',
 '000 prize',
 '000 xmas',
 '008704050406',
 '008704050406 sp']

In [47]:
tf_matrix_test = tf.transform(x_test)

In [48]:
#import the model

from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()

In [49]:
#training
nb.fit(tf_matrix_train,y_train)
#prediction
pred = nb.predict(tf_matrix_test)

In [50]:
pred

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'ham'], dtype='<U4')

In [52]:
# confusion matrics

from sklearn.metrics import confusion_matrix,accuracy_score

confusion_matrix(y_test,pred)

array([[1442,    0],
       [  52,  178]])

In [58]:
x_test[(pred=='ham') & (y_test=='spam')]

147     FreeMsg Why haven't you replied to my text? I'...
1064    We have new local dates in your area - Lots of...
2680    New Tones This week include: 1)McFly-All Ab..,...
1217    You have 1 new voicemail. Please call 08719181...
5566    REMINDER FROM O2: To get 2.50 pounds free call...
881     Reminder: You have not downloaded the content ...
3132    LookAtMe!: Thanks for your purchase of a video...
2295     You have 1 new message. Please call 08718738034.
420     Send a logo 2 ur lover - 2 names joined by a h...
5110      You have 1 new message. Please call 08715205273
1045    We know someone who you know that fancies you....
2583    3 FREE TAROT TEXTS! Find out about your love l...
943     How about getting in touch with folks waiting ...
5       FreeMsg Hey there darling it's been 3 week's n...
3856    Free msg: Single? Find a partner in your area!...
3530    Xmas & New Years Eve tickets are now on sale f...
684     Hi I'm sue. I am 20 years old and work as a la...
4073    Loans for any purpose even if you have Bad Cre...
1875    Would you like to see my XXX pics they are so ...
2313    tddnewsletter@emc1.co.uk (More games from TheD...
1328    Ur balance is now £500. Ur next question is: W...
3755    Bloomberg -Message center +447797706009 Why wa...
3153    Hard LIVE 121 chat just 60p/min. Choose your g...
1893    CALL 09090900040 & LISTEN TO EXTREME DIRTY LIV...
4298    thesmszone.com lets you send free anonymous an...
4949    Hi this is Amy, we will be sending you a free ...
1172    Got what it takes 2 take part in the WRC Rally...
761     Romantic Paris. 2 nights, 2 flights from £79 B...
3991    (Bank of Granite issues Strong-Buy) EXPLOSIVE ...
159     Customer service annoncement. You have a New Y...
165     BangBabes Ur order is on the way. U SHOULD rec...
2941     You have 1 new message. Please call 08712400200.
19      England v Macedonia - dont miss the goals/team...
1625    500 free text msgs. Just text ok to 80488 and ...
3564    Auction round 4. The highest bid is now £54. N...
2821    INTERFLORA - It's not too late to order Inter...
1126    For taking part in our mobile survey yesterday...
5037    You won't believe it but it's true. It's Incre...
2247    Hi ya babe x u 4goten bout me?' scammers getti...
4514    Money i have won wining number 946 wot do i do...
1961    Guess what! Somebody you know secretly fancies...
1714    Hard LIVE 121 chat just 60p/min. Choose your g...
3463    Bloomberg -Message center +447797706009 Why wa...
3419    LIFE has never been this much fun and great un...
5370    dating:i have had two of these. Only started a...
3496    Wan2 win a Meet+Greet with Westlife 4 U or a m...
607     XCLUSIVE@CLUBSAISAI 2MOROW 28/5 SOIREE SPECIAL...
3272    You have 1 new voicemail. Please call 08719181...
3501    Dorothy@kiefer.com (Bank of Granite issues Str...
5537    Want explicit SEX in 30 secs? Ring 02073162414...
955             Filthy stories and GIRLS waiting for your
5540    ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
Name: SMS, dtype: object